$color-pack: false;

@import '~vuetify/src/styles/main.sass';

@import './mixins/config.scss';
@import './mixins/function.scss';
@import './mixins/mixins.scss';
@import './mixins/public.scss';

html body {
  user-select: none;
}

.app-drag {
  -webkit-app-region: drag;
}

.is-rounded {
  border-radius: 4px;
}

.is-nowrap{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.is-pointer {
  cursor: pointer;
}
