.absolute-parent {
  height: 100%;
  width: 100%;
  position: relative;
}

.absolute-x {
  position: absolute;
  left: 0px;
  right: 0px;
}

.absolute-y {
  position: absolute;
  top: 0px;
  bottom: 0px;
}

.absolute-all {
  @extend .absolute-x;
  @extend .absolute-y;
}

.absolute-top {
  @extend .absolute-x;
  top: 0px;
}

.absolute-bottom {
  @extend .absolute-x;
  bottom: 0px;
}

.absolute-left {
  @extend .absolute-y;
  left: 0px;
}

.absolute-right {
  @extend .absolute-y;
  right: 0px;
}

.backdrop {
  $color: map-get($grey, 'lighten-4');
  transition: all .3s;
  background-color: rgba($color, .5);
  backdrop-filter: saturate(180%) blur(6px);
  &:hover {
    background-color: rgba($color, .8);
  }
}
