name: Remove old artifacts

on:
  push:
    branches:
      - master

jobs:
  remove-old-artifacts:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - name: Remove old artifacts
      uses: c-hive/gha-remove-artifacts@v1
      with:
        age: '1 day'
        skip-tags: true
        skip-recent: 2
